[submodule "zsh/.config/zsh/plugins/zsh-rust"]
	path = zsh/.config/zsh/plugins/zsh-rust
	url = https://github.com/bluedragon1221/zsh-rust
[submodule "zsh/.config/zsh/plugins/fast-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "zsh/.config/zsh/plugins/zsh-autocomplete"]
	path = zsh/.config/zsh/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.config/zsh/plugins/zsh-lambda-prompt"]
	path = zsh/.config/zsh/plugins/zsh-lambda-prompt
	url = https://github.com/bluedragon1221/zsh-lambda-prompt
[submodule "zsh/.config/zsh/plugins/zsh-cdls"]
	path = zsh/.config/zsh/plugins/zsh-cdls
	url = https://github.com/bluedragon1221/zsh-cdls
[submodule "firefox/.var/app/org.mozilla.firefox/.mozilla/firefox/collin"]
	path = firefox/.var/app/org.mozilla.firefox/.mozilla/firefox/collin
	url = https://github.com/bmFtZQ/edge-frfox
