[submodule "zsh/.config/zsh/plugins/zsh-rust"]
	path = zsh/.config/zsh/plugins/zsh-rust
	url = https://github.com/bluedragon1221/zsh-rust
[submodule "zsh/.config/zsh/plugins/fast-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "zsh/.config/zsh/plugins/zsh-autocomplete"]
	path = zsh/.config/zsh/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
